button1 {
    -fx-text-fill: #efe4e4;
    -fx-background-color: #b61120;
    -fx-text-transform: uppercase;
}

button2 {
    -fx-text-fill: #e7f6f2;
    -fx-background-color: #218d8d;
    -fx-text-transform: uppercase;
}

.button:hover {
    -fx-opacity: 0.83;
}