*{
    -fx-box-size: border-box;
}

.button {
    -fx-cursor: pointer;
}

.button:hover {
    -fx-opacity: 0.83;
}

.button-icon {
    -fx-background-color: transparent;
}

.button-icon:hover {
    -fx-opacity: 0.83;
}

.button-blue {
    -fx-text-fill: #e7f6f2;
    -fx-background-color: #218d8d;
    -fx-text-transform: uppercase;
}

.button-text-red {
    -fx-border: none;
    -fx-background-color: transparent;
}

.button-text-red:hover {
    -fx-text-fill: #dc4040;
}

.button-text-blue {
    -fx-text-fill: #218d8d;
    -fx-background-color: transparent;
}

.button-text-blue:hover {
    -fx-font-size: 12.5px;
}

.button-red {
    -fx-text-fill: #efe4e4;
    -fx-background-color: #b61120;
    -fx-text-transform: uppercase;
}

.button-another {
    -fx-text-fill: #000;
    -fx-background-color: #e5eae9;
    -fx-border-radius: 3px;
    -fx-border-color: #d9e1e0;
}

.button-another:hover {
    -fx-background-color: #f0f3f3;
    -fx-text-fill: #252323;
    -fx-border: none;
    -fx-opacity: 1;
}

.button-hover-blue:hover {
    -fx-background-color: #218d8d;
    -fx-opacity: 0.9;
}

.button-border-black {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}

.line1 {
    -fx-opacity:0.5;
    -fx-stroke-width: 0.5px;
    -fx-stroke-color: #9b9898;
}

.pane-background {
    -fx-background-color: #218d8d;
}

.pane-border-solid {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
}

.pane-border-dashed {
    -fx-border-style: dashed;
    -fx-border-width: 3px;
    -fx-border-color: #9b9898;
}

.pane-border-question-number {
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
    -fx-background-color: #efefef;
}

.pane-background-question-number {
    -fx-border-color: #303030;
    -fx-border-radius: 3px;
    -fx-background-color: #303030;
}

.pane-border-question {
    -fx-border-style: solid;
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
}

.pane-background-question {
    -fx-border-color: #d7e7e6;
    -fx-border-radius: 3px;
    -fx-background-color: #d7e7e6;
}
